<div class="p-grid p-align-center">
    <div
        class="p-col-12"
        style="margin-top: 1em;"
    >

        <div class="p-grid p-align-center">
            <a routerLink="/home">

                <button
                    pButton
                    icon="pi pi-arrow-left"
                    style="margin-left: 8px; margin-right: 8px;"
                >

                </button>
            </a>
            <h2>Game [Id]</h2>
        </div>
        <hr>
    </div>

</div>
<br>
<div class="container p-grid">

    <div class="p-col-10 p-offset-1 p-sm-offset-1 p-md-offset-2 p-sm-10 p-md-8 p-grid">

        <div class="sectionPregunta p-col-12 p-grid">
            <div class="p-col-12">
                Ingresa la pregunta para poner sobre la mesa
            </div>
            <div class="p-col-12 p-sm-7 p-fluid">
                <input
                    type="text"
                    pInputText
                >
            </div>
            <div class="p-col-12 p-sm-3">
                <button
                    pButton
                    label="Preguntar"
                ></button>
            </div>
        </div>

        <div class="sectionText p-col-12 p-grid p-justify-center">
            <h2 style="text-align: center;">Login con detalles?</h2>
        </div>

        <!-- <div class="p-col-12 p-sm-1 p-md-2">
      x
    </div> -->
        <div class="p-col-12 p-grid p-justify-end">
            <button
                pButton
                label="Actualizar"
                icon="pi pi-refresh"
            >

            </button>
        </div>
        <div class="sectionResult p-col-12 p-grid">
            <div class="p-col-12">
                <h2 style="text-align: center;">AVG: 14</h2>
            </div>
            <div class="imgTable p-col-12 p-grid p-justify-center">
                <img
                    src="../../../assets/img/black-jack-poker-svgrepo-com.svg"
                    alt
                    style="height: 200px; "
                >
            </div>
        </div>

        <div
            class="p-col-12 p-grid p-justify-center"
            style="margin-top: 10px;margin-bottom: 30px;"
        >
            <button
                pButton
                class="p-button-success p-button-lg p-button-raised p-button-rounded"
                icon="pi pi-angle-double-up"
                label="VOTAR"
                (click)="modalFiboCards =true"
                style="font-weight: 400;"
            >
            </button>
        </div>
        <div class="sectionCardsPlayers p-col-12 p-grid">
            <div
                class="p-col-4 p-sm-3"
                *ngFor="let item of players"
            >
                <div class="cardPlayer">
                    <div class="p-col-12">
                        <h1 style="text-align: center;">135</h1>
                    </div>
                    <div class="p-col-12">Name Player</div>
                </div>
            </div>

        </div>

        <p-dialog
            header="Votar"
            [(visible)]="modalFiboCards"
        >
            <br>
            <div class="sectionFiboCards p-col-12 p-grid">
                <div
                    class="p-col-4 p-sm-3 p-md-2"
                    *ngFor="let item of fiboCards"
                >
                    <div class="cardPlayer">
                        <div class="p-col-12">
                            <h1 style="text-align: center;">{{item}}</h1>
                        </div>
                        <div class="p-grid p-justify-center">
                            <button
                                pButton
                                label="Elegir"
                                class="p-button-sm"
                            >

                            </button>
                        </div>
                        <br>
                    </div>

                </div>

            </div>
        </p-dialog>

    </div>
    <div class="p-col-12" style="height: 200px;"></div>
</div>
