<div class="p-col-12 p-grid p-justify-end">
    <audio
        loop
        autoplay
        #myAudio
        src="../assets/audio/pokerFaceErick.mp3"
    >
        
        Your browser does not support the audio element.
    </audio>

    <button
        (click)="unmute()"
        pButton
        class="p-button-rounded"
        [class.p-button-outlined]="!statusAudio"
        icon="pi pi-play"
    ></button>

    <button
        (click)="mute()"
        pButton
        class="p-button-rounded p-button-secondary"
        [class.p-button-outlined]="statusAudio"
        icon="pi pi-volume-off"
    ></button>
</div>
<router-outlet></router-outlet>
