<div style="margin-top: 100px;"></div>

<div class="p-grid p-justify-center">
    <h1>PokerScrum :P</h1>
</div>
<br>
<br>
<div class="p-grid p-justify-center">
    <img
        class="pokerCardsIcon animated fadeIn"
        src="../../../assets/img/poker-casino-svgrepo-com.svg"
        alt
        style="max-width: 40%;"
    >
</div>
<br>
<br>
<br>
<div class="p-grid p-justify-center p-align-center ">

    <button
        (click)="newGame()"
        class="p-button-success p-button-outlined p-button-raised p-button-lg animated fadeInUp delay-1s"
        pButton
        icon="pi pi-plus"
        type="button"
        label="Crear Sala"
    ></button>

    <button
        class="p-button-lg p-button-outlined p-button-raised animated fadeInUp delay-1s"
        (click)="enterGame()"
        pButton
        type="button"
        icon="pi pi-play"
        label="Ingresar"
        style="margin-left: 2em;"
    ></button>
</div>
<p-dialog
    header="Crear Sala"
    [(visible)]="modalNewGame"
    [modal]="true"
>
    Se ha creado la nueva sala
    <div class="p-input-filled">
        <input
            type="text"
            pInputText
        >
    </div>
</p-dialog>
<p-dialog
    header="Ingresar Sala"
    [(visible)]="modalEnterGame"
>
    <div class="p-col-12 p-grid">Ingrese el codigo de la sala</div>
    <div class="p-col-12 p-grid">
        <input
            type="text"
            pInputText
            [(ngModel)]="codigoSala"
            placeholder="Search"
        >
    </div>
    <div class="p-col-12 p-grid p-justify-center">
        <button
            (click)="searchTable()"
            pButton
            label="Buscar"
            icon="pi pi-search"
        >

        </button>
    </div>

</p-dialog>
