<div style="margin-top: 200px;"></div>

<div class="p-grid p-justify-center">
    <h1>PokerScrum :P</h1>
</div>
<br>
<br>
<div class="p-grid p-justify-center">
    <img
        src="../../../assets/img/poker-casino-svgrepo-com.svg"
        alt
        style="max-width: 40%;"
    >
</div>
<br>
<br>
<br>
<div class="p-grid p-justify-center p-align-center ">

    <button
        (click)="modalNewGame()"
        pButton
        icon="pi pi-plus"
        type="button"
        class="p-button-success p-button-outlined p-button-raised p-button-lg"
        label="Crear Sala"
    ></button>

    <button
        pButton
        type="button"
        icon="pi pi-play"
        class="p-button-lg p-button-outlined p-button-raised"
        label="Ingresar"
        style="margin-left: 2em;"
    ></button>
</div>
