<div style="margin-top: 100px;"></div>

<div class="p-grid p-justify-center">
    <h1>PokerScrum :P</h1>
</div>
<br>
<br>
<div class="p-grid p-justify-center">
    <img
        class="pokerCardsIcon animated fadeIn"
        src="../../../assets/img/poker-casino-svgrepo-com.svg"
        alt
        style="width: 340px; margin-left: 1em; max-width: 50%;"
        (click)="modalSearchRoom=true"
    >
</div>
<br>
<br>
<br>
<div class="p-grid p-justify-center p-align-center ">

    <button
        pButton
        (click)="createRoom()"
        class="p-button-success p-button-outlined p-button-raised p-button-lg animated fadeInUp delay-1s"
        icon="pi pi-plus"
        type="button"
        label="Crear Sala"
        style="margin: 1em;"
    ></button>

    <button
        pButton
        class="p-button-lg p-button-outlined p-button-raised animated fadeInUp delay-1s"
        (click)="modalSearchRoom = true"
        type="button"
        icon="pi pi-play"
        label="Ingresar"
        style="margin: 1em;"
    ></button>
</div>
<p-dialog
    header="Crear Sala"
    [(visible)]="modalCreateRoom"
    [modal]="true"
>
    <div class="p-col-12">
        Se ha creado la nueva mesa
        <div class="p-input-filled">
            <input
                type="text"
                pInputText
                [(ngModel)]="codeRoom"
                disabled
            >
            <button
                ngxClipboard [cbContent]="urlPlay"
                pButton
                icon="pi pi-copy"
                pTooltip="Copiar al portapapeles"
                tooltipPosition="top"
            >
            </button>
        </div>

    </div>
    <div class="p-col-12 p-grid p-justify-center">
        <button
            (click)="enterRoom()"
            pButton
            label="Entrar"
            icon="pi pi-play"
        >
        </button>
    </div>
</p-dialog>
<p-dialog
    header="Ingresar Sala"
    [(visible)]="modalSearchRoom"
    [modal]="true"
    [style]="{width: '300px'}"
>
    <div class="p-col-12 p-grid">Ingresa tu nombre</div>
    <div class="p-col-12 p-grid p-fluid">
        <input
            type="text"
            pInputText
            [(ngModel)]="playerName"
        >
        <span
            style="color: tomato;"
            *ngIf="playerName.length<1 && formSend"
        >
            Este campo es necesario
        </span>
    </div>
    <br>
    <div class="p-col-12 p-grid">Ingresa el código de la sala</div>
    <div class="p-col-12 p-grid p-fluid">
        <input
            type="text"
            pInputText
            [(ngModel)]="codeRoom"
        >
        <span
            style="color: tomato;"
            *ngIf="codeRoom.length <1 && formSend"
        >
            Este campo es necesario
        </span>
    </div>

    <br>
    <div class="p-col-12 p-grid p-justify-center">
        <button
            (click)="searchRoom()"
            pButton
            label="Buscar"
            icon="pi pi-search"
        >
        </button>
    </div>

</p-dialog>
