/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(246, 251, 255);
  background: linear-gradient(225deg, #fafaff 28%, #fcfcff 52%, #f8feff 75%);
}

.pokerCardsIcon {
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  cursor: pointer;
}

.pokerCardsIcon:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);

}
